*{
    margin: 0px;
    padding: 0px;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    margin-bottom: 40px;
    background-color: gray;
}
/* HEADER */
header {
    background-color: gray;
}

.header__titulo {
    background-color: rgb(0, 0, 0);
    color: rgb(110, 17, 17);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.header__lista {
    display: flex; 
    list-style: none;
    padding: 0 16px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}
.header__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: rgb(110, 17, 17)
}

.header__elemento {
    display: inline;
    font-family: serif;
    font-size: 20px;
    color: rgb(8, 0, 0);
}

/* MAIN INDEX */

.main__section{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: auto; 
    grid-template-areas: 'escudo intro himno' 
}

.escudo img{
    grid-area: escudo;
    width: 100%;
    height: 100%;
}

.escudo {
    grid-area: escudo;
    width: 100%;
    height: 100%;
}


.intro{
    grid-area: intro;
    width: 100%;
    height: 100%;
}

.himno {
    grid-area: himno;
    width: 100%;
    height: 100%;
}

.main__titulo {
    color: rgb(110, 17, 17);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.article__intro {
    text-align: center;
    margin: 13px
}

.main__img {
    margin: 13px;
}

.main__iframe {
    margin: 13px;
}

/* MAIN HISTORIA */

.main__historia {  
display: grid;
width: 100%;
height: 100%;
grid-template-columns: 1fr 1fr; 
grid-template-rows: auto; 
grid-template-areas: 'texto escudos'
                    'texto poleras'
}

.historia__titulo {
    color: rgb(110, 17, 17);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.historia__texto{
    height: 100%;
    width: 100%;
    margin: 20px;
    background-color: red;
    color: black;
    font-family: cursive;
}

.historia__img{
    margin: 20px
}

.img__1{
    height: 100%;
    width: 100%;
    padding: 20px;
}

.escudos {
    grid-area: escudos;
}

.poleras {
    grid-area: poleras;
}

.texto {
    grid-area: texto;
}


.img__2{
    height: 100%;
    width: 100%;
    padding: 20px;
}

/* MAIN PLANTILLA */

.plantilla__titulo {
    color: rgb(110, 17, 17);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* MAIN GALERIA */

.galeria__titulo {
    color: rgb(110, 17, 17);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* MAIN CONTACTO */

.contacto__titulo {
    color: rgb(110, 17, 17);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


/* FOOTER */

footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    color: white;
}

.footer__img{
    width: 10px;
    height: 10px;
    float: left;
}

.footer__derechos{
color: rgb(134, 20, 20);
}

/* Media Querie Tablet */
@media (min-width: 576px) and (max-width: 992px){
    .main__section{
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        grid-template-areas: 'escudo escudo'
                            'intro himno'
    }
    .escudo {
        grid-area: escudo;
        width: 100%;
        height: 100%;
    }
    .intro{
        grid-area: intro;
        width: 100%;
        height: 100%;
    }
    .himno {
        grid-area: himno;
        width: 100%;
        height: 100%;
    }
    
    .main__titulo {
        color: rgb(110, 17, 17);
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    .article__intro {
        text-align: center;
        margin: 13px
    }
    .main__img {
        margin: 13px;
    }
    .main__iframe {
        margin: 13px;
/* Historia querie Tablet */

    }
    .historia__titulo {
        color: rgb(110, 17, 17);
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    
    .historia__texto{
        height: 100%;
        width: 100%;
        margin: 20px 20px 20px 160px;
        background-color: red;
        color: black;
        font-family: cursive;
    }
    .img__1{
        height: 100%;
        width: 100%;
        padding: 20px;
    }
    
    .img__2{
        height: 100%;
        width: 100%;
        padding: 20px;
    }
}

/* Media Querie celular */

@media (min-width: 320px) and (max-width: 575px){
    .main__section{
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: auto; 
        grid-template-areas: 'escudo'
                            'intro'
                            'himno'
    }
    .escudo {
        grid-area: escudo;
        width: 100%;
        height: 100%;
    }
    .intro{
        grid-area: intro;
        width: 100%;
        height: 100%;
    }
    .himno {
        grid-area: himno;
        width: 100%;
        height: 100%;
    }
    
    .main__titulo {
        color: rgb(110, 17, 17);
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    .article__intro {
        text-align: center;
        margin: 13px
    }
    .main__img {
        margin: 13px;
    }
    .main__iframe {
        margin: 13px;
    }
}