/* Media Querie Tablet */
@media (min-width: 576px) and (max-width: 992px){
    .main__section{
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        grid-template-areas: 'escudo escudo'
                            'intro himno';
        column-gap: 20px;
        row-gap: 20px;
        margin: 20px;
    }
    .escudo {
        grid-area: escudo;
        width: 100%;
        height: 100%;
    }
    .intro{
        grid-area: intro;
        width: 100%;
        height: 100%;
    }
    .himno {
        grid-area: himno;
        width: 100%;
        height: 100%;
    }
    
    .main__titulo {
        color: rgb(110, 17, 17);
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    .article__intro {
        text-align: center;
        margin: 13px
    }
    .main__img {
        margin: 13px;
    }
    .main__iframe {
        margin: 13px;
    }
    /* Historia querie Tablet */

    .section__historia {  
        display: grid;
        width: 96%;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: auto; 
        grid-template-areas: 'texto texto'
                            'escudos poleras';
        column-gap: 20px;
        row-gap: 20px;
        margin: 20px;
        }
    .historia__titulo {
        color: rgb(110, 17, 17);
        text-align: center;
        font-family: 'Roboto', sans-serif;
    } 
    .historia__texto{
        height: 100%;
        width: 100%;
        margin: 20px;
        background-color: red;
        color: black;
        font-family: cursive;
    }
    .img__1{
        height: 100%;
        width: 100%;
        padding: 20px;
    }
        
    .escudos {
        grid-area: escudos;
    }
    
    .poleras {
        grid-area: poleras;
    }
    
    .texto {
        grid-area: texto;
    }
    .img__2{
        height: 100%;
        width: 100%;
        padding: 20px;
    }
    /* Media Querie Tablet */
    .galeria__titulo {
        color: rgb(110, 17, 17);
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    .galeria__section {  
        display: grid;
        width: 92%;
        height: 100%;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: auto; 
        grid-template-areas: 'maldini baresi'
                            'champions champions'
                            'gattuso inzaghi'
                            'rivales rivales'
                            'ibra kaka'
                            'holandeses holandeses'
                            'sheva weah';
        column-gap: 20px;
        row-gap: 20px;
        margin: 20px;
        }
        .maldini {
            grid-area: maldini;
            height: 100%;
            width: 100%;
        }
        .baresi {
            grid-area: baresi;
            height: 100%;
            width: 100%;
        }
        .ibra {
            grid-area: ibra;
            height: 100%;
            width: 100%;
        }
        .inzaghi {
            grid-area: inzaghi;
            height: 100%;
            width: 100%;
        }
        .gattuso {
            grid-area: gattuso;
            height: 100%;
            width: 100%;
        }
        .holandeses {
            grid-area: holandeses;
            height: 100%;
            width: 100%;
        }
        .champions {
            grid-area: champions;
            height: 80%;
            width: 100%;
        }
        .rivales {
            grid-area: rivales;
            height: 100%;
            width: 100%;
        }
        .sheva {
            grid-area: sheva;
            height: 80%;
            width: 100%;
        }
        .kaka {
            grid-area: kaka;
            height: 80%;
            width: 100%;
        }
        .weah {
            grid-area: weah;
            height: 80%;
            width: 100%;
        }
}

/* Media Querie celular */

@media (min-width: 320px) and (max-width: 575px) {
    /* Index Celular */
    .main__section{
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: auto;
        row-gap: 20px;
        margin: 20px;
        grid-template-areas: 'escudo'
                            'intro'
                            'himno'
    }
    .escudo {
        grid-area: escudo;
        width: 100%;
        height: 100%;
    }
    .intro{
        grid-area: intro;
        width: 100%;
        height: 100%;
    }
    .himno {
        grid-area: himno;
        width: 100%;
        height: 100%;
    }
    
    .main__titulo {
        color: rgb(110, 17, 17);
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    .article__intro {
        text-align: center;
        margin: 13px
    }
    .main__img {
        margin: 13px;
    }
    .main__iframe {
        margin: 13px;
    }
    /* Historia celular */
    .section__historia {  
        display: grid;
        width: 96%;
        grid-template-columns: 1fr; 
        grid-template-rows: auto; 
        grid-template-areas: 'escudos'
                            'texto'
                            'poleras';
        column-gap: 20px;
        row-gap: 20px;
        margin: 20px;
        }
    .historia__titulo {
        color: rgb(110, 17, 17);
        text-align: center;
        font-family: 'Roboto', sans-serif;
    } 
    .historia__texto{
        height: 100%;
        width: 100%;
        margin: 20px;
        background-color: red;
        color: black;
        font-family: cursive;
    }
    .img__1{
        height: 100%;
        width: 100%;
        padding: 20px;
    }
        
    .escudos {
        grid-area: escudos;
    }
    
    .poleras {
        grid-area: poleras;
    }
    
    .texto {
        grid-area: texto;
    }
    .img__2{
        height: 100%;
        width: 100%;
        padding: 20px;
    }
    /* Galeria Celular */
    .galeria__titulo {
        color: rgb(110, 17, 17);
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    .galeria__section {  
        display: grid;
        width: 92%;
        height: 100%;
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(11)1fr; 
        grid-template-areas:'maldini'
                            'baresi'
                            'champions'
                            'gattuso'
                            'inzaghi'
                            'rivales'
                            'ibra'
                            'kaka'
                            'holandeses'
                            'sheva'
                            'weah';
        row-gap: 20px;
        margin: 20px;
        }
    .maldini {
        grid-area: maldini;
        height: 100%;
        width: 100%;
    }
    .baresi {
        grid-area: baresi;
        height: 100%;
        width: 100%;
    }
    .ibra {
        grid-area: ibra;
        height: 100%;
        width: 100%;
    }
    .inzaghi {
        grid-area: inzaghi;
        height: 100%;
        width: 100%;
    }
    .gattuso {
        grid-area: gattuso;
        height: 100%;
        width: 100%;
    }
    .holandeses {
        grid-area: holandeses;
        height: 100%;
        width: 100%;
    }
    .champions {
        grid-area: champions;
        height: 80%;
        width: 100%;
    }
    .rivales {
        grid-area: rivales;
        height: 100%;
        width: 100%;
    }
    .sheva {
        grid-area: sheva;
        height: 80%;
        width: 100%;
    }
    .kaka {
        grid-area: kaka;
        height: 80%;
        width: 100%;
    }
    .weah {
        grid-area: weah;
        height: 80%;
        width: 100%;
    }
}