@import "footer";
@import "nav";
@import "operators";


*{
    margin: 0px;
    padding: 0px;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    margin-bottom: 40px;
    background-color: gray;
}

/* MAIN INDEX */

.main__titulo {
    @include titulo;
}

.main__section{
    display: grid;
    width: 93%;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: auto; 
    grid-template-areas: 'escudo intro himno';
    column-gap: 20px;
    row-gap: 20px;
    margin: 20px;
}

.escudo img{
    grid-area: escudo;
    width: 100%;
    height: 100%;
}

.escudo {
    grid-area: escudo;
    width: 100%;
    height: 100%;
}


.intro{
    grid-area: intro;
    width: 100%;
    height: 100%;
}

.himno {
    grid-area: himno;
    width: 100%;
    height: 100%;
}


.article__intro {
    text-align: center;
    font-size: 1.38rem;
    background-image: linear-gradient(rgb(70, 13, 13), rgb(104, 61, 61));
    margin: 13px;
    color: black;
}

.main__img {
    margin: 13px;
}

.main__iframe {
    margin: 13px;
}

/* MAIN HISTORIA */

.historia__titulo {
    @include titulo;
}

.section__historia {  
display: grid;
width: 90%;
grid-template-columns: 1fr 1fr; 
grid-template-rows: auto; 
grid-template-areas: 'texto escudos'
                    'texto poleras';
column-gap: 20px;
row-gap: 20px;
margin: 20px;
}

.historia__texto{
    height: 100%;
    width: 100%;
    padding: 20px;
    background-image: linear-gradient(rgb(70, 13, 13), rgb(104, 61, 61));
    color: black;
    font-size: 1.38rem;
    font-family: cursive;
}

.escudos {
    grid-area: escudos;
    height: 100%;
    width: 100%;
}

.poleras {
    grid-area: poleras;
    height: 100%;
    width: 100%;
}

.texto {
    grid-area: texto;
    height: 100%;
    width: 100%;
}

.img__1{
    height: 100%;
    width: 100%;
    padding: 20px;
}
.img__2{
    height: 100%;
    width: 100%;
    padding: 20px;
}

/* MAIN PLANTILLA */

.plantilla__titulo {
    @include titulo;
}


/* MAIN GALERIA */

.galeria__titulo {
    @include titulo;
}
.galeria__section {  
    display: grid;
    width: 92%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    grid-template-areas: 'maldini rivales rivales baresi'
                        'sheva champions champions weah'
                        'gattuso champions champions inzaghi'
                        'ibra holandeses holandeses kaka';
    column-gap: 20px;
    row-gap: 20px;
    margin: 20px;
    }
    .maldini {
        grid-area: maldini;
        height: 100%;
        width: 100%;
    }
    .baresi {
        grid-area: baresi;
        height: 100%;
        width: 100%;
    }
    .ibra {
        grid-area: ibra;
        height: 100%;
        width: 100%;
    }
    .inzaghi {
        grid-area: inzaghi;
        height: 100%;
        width: 100%;
    }
    .gattuso {
        grid-area: gattuso;
        height: 100%;
        width: 100%;
    }
    .holandeses {
        grid-area: holandeses;
        height: 100%;
        width: 100%;
    }
    .champions {
        grid-area: champions;
        height: 80%;
        width: 100%;
    }
    .rivales {
        grid-area: rivales;
        height: 100%;
        width: 100%;
    }
    .sheva {
        grid-area: sheva;
        height: 80%;
        width: 100%;
    }
    .kaka {
        grid-area: kaka;
        height: 80%;
        width: 100%;
    }
    .maldini:hover {
        transition: 1s;
        grid-area: maldini;
        height: 100%;
        width: 100%;
        transform: scale(1.5);
    }
    .baresi:hover {
        transition: 1s;
        grid-area: baresi;
        height: 100%;
        width: 100%;
        transform: scale(1.5);
    }
    .ibra:hover {
        transition: 1s;
        grid-area: ibra;
        height: 100%;
        width: 100%;
        transform: scale(1.5);
    }
    .inzaghi:hover {
        transition: 1s;
        grid-area: inzaghi;
        height: 100%;
        width: 100%;
        transform: scale(1.5);
    }
    .gattuso:hover {
        transition: 1s;
        grid-area: gattuso;
        height: 100%;
        width: 100%;
        transform: scale(1.5);
    }
    .holandeses:hover {
        transition: 1s;
        grid-area: holandeses;
        height: 100%;
        width: 100%;
        transform: scale(1.2);
    }
    .champions:hover {
        transition: 1s;
        grid-area: champions;
        height: 80%;
        width: 100%;
        transform: scale(1.2);
    }
    .rivales:hover {
        transition: 1s;
        grid-area: rivales;
        height: 100%;
        width: 100%;
        transform: scale(1.2);
    }
    .sheva:hover {
        transition: 1s;
        grid-area: sheva;
        height: 80%;
        width: 100%;
        transform: scale(1.5);
    }
    .kaka:hover {
        transition: 1s;
        grid-area: kaka;
        height: 80%;
        width: 100%;
        transform: scale(1.5);
    }
    .weah:hover {
        transition: 1s;
        grid-area: weah;
        height: 80%;
        width: 100%;
        transform: scale(1.5);
    }

/* MAIN COMENTARIOS */

.comentarios__titulo {
    @include titulo;
}

.comentario__botones{
    display: flex;

}

.comentario__boton1{
    margin-left: 50px;
}

.comentario__boton2{
    margin-left: 20px;
}

.pelota{
    margin: 20px;
}

.apellidos{
    width: 95%;
    margin: 30px;
}

.comentario{
    width: 95%;
    margin:30px;
}

.comentarios__comentarios{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 20px;
    margin: 20px;
    grid-template-areas: "comentario1"
                        "comentario2";
}

.comentarios__comentario1{
    grid-area: comentario1;
    background-image: linear-gradient(rgb(70, 13, 13), rgb(104, 61, 61));
    color: black;
    font-family: cursive;
}


.comentarios__comentario2{
    grid-area: comentario2;
    background-image: linear-gradient(rgb(70, 13, 13), rgb(104, 61, 61));
    color: black;
    font-family: cursive;
}

@import "mediaqueries";


